Repository gruntwork-io/gruntwork-io.github.io, pull requests merged in 2021-08, with the labels that each got.

#552 Adding Patcher pricing page
  pages/landing/patcher/_sub-hero.html
  pages/landing/patcher/contact/_form.html
  pages/landing/patcher/contact/index.html
  pages/landing/patcher/index.html
  pages/landing/patcher/pricing/_need-help.html
  pages/landing/patcher/pricing/_plan-features.html
  pages/landing/patcher/pricing/_plans.html
  pages/landing/patcher/pricing/_price-col.html
  pages/landing/patcher/pricing/_price-rows.html
  pages/landing/patcher/pricing/_pricing-header.html
  pages/landing/patcher/pricing/index.html
  pages/landing/patcher/thank-you/index.html
Labels: patcher-landing-page

#553 Implement enforcement and self-auditing content
  assets/img/hipaa/aws-security-hub-green.png
  assets/img/hipaa/opa-policy.png
  pages/landing/hipaa/index.html
Labels: HIPAA landing

#601 Patcher use cases page: Remove boxes image
  pages/landing/patcher/use-cases/index.html
Labels: patcher-landing-page

#605 Fix navbar margins
  _includes/landing-navbar-hipaa.html
  _includes/landing-navbar-patcher.html
  _includes/landing-navbar.html
Labels: HIPAA landing, patcher-landing-page, heroku-landing-page, enterprise-eks-landing-page

#618 Patcher how it works: Add missing image
  assets/img/landing-page-patcher/terraform-12-pr.png
Labels: patcher-landing-page
